<div class="now-playing">
    <div class="cover-art" id="player-cover" onclick="window.location.href='now.html'">
        <i class="fas fa-music" style="color:#555;"></i>
    </div>
    <div class="track-info">
        <span class="track-name" id="player-track">Sélectionnez une enceinte</span>
        <span class="album-name" id="player-album">-</span>
        <span class="artist-name" id="player-artist">-</span>
    </div>
</div>

<div class="volume-controls">
    <i class="fas fa-volume-down volume-icon"></i>
    <input type="range" id="volume-slider" min="0" max="100" value="0" onchange="changeVolume(this.value)">
    <i class="fas fa-volume-up volume-icon"></i>
</div>